body, body> * {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav {
    width: 100vw;
    background-color: black;
    padding: 10px;
    color: rgb(56, 121, 177);
}
.nav > * {
    color: wheat;
    margin-left: 2vw;
}

.nav > *:hover {
    color:rgb(239, 235, 231)
}

.umoBtn {
    font-size: larger;
    color: rgb(196, 255, 206);
}

.nav > * {
    background-color: transparent;
    border: none;
}

.pageBdy {
    width: 100vw;
    height: 70vh;
    background: url('./images/burger.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner {
    margin: 0;
    padding-top: 3vh;
    text-align: center;
    background-color: transparent;
    color: bisque;
}
.bannerBtn {
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 5vh;
    width: 40vw;
    color:bisque;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
    border-style: solid;
    border-color: aliceblue;
    background-color: rgba(163, 159, 159, 0.3);
}
.menu {
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    color: white;
    font-size: large;

}

.menuItemDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;

}
.menuItemDiv > #menuItem {
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: rgba(14, 14, 14, 0.3);
    color: aliceblue;
}

.footer > div {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: small;
    color: wheat;
    background-color: black;
}