body {
    margin: 0;
    padding: 0;
}
.nav {
    width: 100vw;
    background-color: black;
    padding: 10px;
    color: rgb(56, 121, 177);
}
.nav > * {
    color: wheat;
    margin-left: 2vw;
}

.nav > *:hover {
    color: rgb(33, 48, 95);
}

.umoBtn {
    font-size: larger;
    color: rgb(196, 255, 206);
}

.nav > button {
    background-color: transparent;
}

.pageBdy {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50vh;
    background: url('./images/burger.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner {
    margin: 0;
    padding-top: 3vh;
    text-align: center;
    background-color: transparent;
    color: aliceblue;
}
.menu {
    margin: 0;
}

.menuItemDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;

}
.menuItemDiv > #menuItem {
    text-align: center;
    width: 150px;
    height: 150px;
}